*-1
*-t
*.1
*.a
*.gc??
*.gz
*.log
*.o
.deps
.dirstamp
/*.cache
/*.in
/.version
/ChangeLog*
/NEWS*
/_build
/aclocal.m4
/cfg_parser.c
/chunk_parser.c
/cmogstored
/cmogstored-*.*.*/
/config.h
/config.rpath
/config.status
/configure
/http_parser.c
/iostat_parser.c
/lib
/listen_parser.c
/mgmt_parser.c
/valid_put_path.c
/stamp-h1
/tmp
/valid_path.c
/www
Makefile
Makefile.in
TAGS
cmogstored-*.tar.gz
confdefs.h
conftest*
cover_db
perf.data*
tags

# gnulib tests
/tests
